<template>
  <div class="main-content">
      <input type="text" name="id" v-model="user.id" value="">
      <br>
      <input type="text" name="password" v-model="user.password" value="">
      <br>
      <input type="button" value="Submit"  @click="onButtonClicked">
  </div>
</template>

<script>
/**
 * Login Main View
 */
export default {

  components : {
   
  },
  created() { 
    
  },
  data() {
    return {
        user : {
            id : "apple",
            password : "123456"
        }
    };
  },
  methods :  {
      onButtonClicked : function(){
          alert("The button clicked");
          document.location.href = "/views/main.html";
      }
  }
};
</script>
<style>
</style>