<template>
  <div>
      <h2>Login Main </h2>
      <login-form></login-form>
  </div>
</template>

<script>
import LoginForm from './LoginForm.vue';

/**
 * Login Main View
 */
export default {

  components : {
      LoginForm
  },
  created() { 
    
  },
  data() {
    return {
       
    };
  },
};
</script>
<style>
</style>