<template>
  <div>
      <h2>JsTree Example</h2>
     <v-jstree ref="tree" :data="treeData"  show-checkbox multiple allow-batch whole-row @item-click="itemClick" ></v-jstree>      

  </div>
</template>

<script>
import VueJstree from 'vue-jstree';

// https://zdy1988.github.io/vue-jstree/
export default {

  
  components : {
      "v-jstree" : VueJstree
  },
  created() { 
  },
  data() {
    return {
        treeData : [
            {
                "id": 0,
                "text": "한글이 잘 표시 되는지 Same but with checkboxes",
                "value": "Same but with checkboxes",
                "icon": "",
                "opened": false,
                "selected": false,
                "disabled": false,
                "loading": false,                
                "children": [
                                {
                                    "id": 1,
                                    "text": "initially selected",
                                    "value": "initially selected",
                                    "icon": "",
                                    "opened": false,
                                    "selected": true,
                                    "disabled": false,
                                    "loading": false,
                                    "children": []
                                }                    
                ] //children
            }// item 0
        ]
    };
  },
  methods : {
      itemClick : function(node, item, e) {
          alert("Clicked");
          console.log(item);
          //this.$refs.tree.collapse = true;
      }
  }
};
</script>
<style>
</style>