<template>
  <div>
     <h2>Eapp Main</h2>
  </div>
</template>

<script>

export default {
  components : {
  },
  created() { 
  },
  data() {
    return {
    };
  },
};
</script>
