<template>
   <div ref="tchart">s</div>
</template>
<script>

export default {
  props : [ ],
  mounted() {
        // template의 요소는 this.$el로 참조한다.
        var self = this;
        tui.chart.barChart(this.$el, this.chartData, this.chartOptions);
  },
  beforeDestroy: function() {

  },  
  data() {
    return {
        chartData :  {
            categories: ['cate1', 'cate2', 'cate3'],
            series: [
                {
                    name: 'Legend1',
                    data: [20, 30, 50]
                },
                {
                    name: 'Legend2',
                    data: [40, 40, 60]
                },
                {
                    name: 'Legend3',
                    data: [60, 50, 10]
                },
                {
                    name: 'Legend4',
                    data: [80, 10, 70]
                }
            ]
        },
        chartOptions : {
            chart: {
                width: 500,
                height: 400,
                title: 'Chart Title'
            },
            yAxis: {
                title: 'Y Axis Title'
            },
            xAxis: {
                title: 'X Axis Title'
            }            
        }
    };
  }
};
</script>
