<template>
  <input type="text" v-model="dateVal" ref="dateInput" id="dateIput" />
</template>
<script>

export default {
  props : [ 'dateFormat', 'value'],
  mounted() {
      console.log("Mounted");
        // template의 요소는 this.$el로 참조한다.
        var self = this;
        $(this.$el).datepicker({
            dateFormat : this.dateFormat,
            create : function() {
                console.log("date-picker created.");
            },
            onSelect :  function(date) {
                console.log("onSelect");
                self.$emit("update-date", date);
            }
        });      
  },
  beforeDestroy: function() {
       $(this.$el).datepicker('hide').datepicker('destroy');
  },  
  data() {
    return {
        dateVal : this.value
    };
  },
};
</script>
