<template>
   <select name="speed" id="speed" v-model="content">
       <option  v-for="item in optionData">{{item.name}}</option>
    </select>
</template>
<script>

export default {
  props : {
      optionData : {
          type:Array,
          required : true 
      },
      value : {
          type: String
      }
  },
  mounted() {
      console.log("Mounted");
        // template의 요소는 this.$el로 참조한다.
        var self = this;
        $(this.$el).selectmenu({
            change : function(event , ui) {
                console.log("event=");
                console.log(event);
                console.log(ui);
                console.log("item.value=" + ui.item.value);
                var param = { label : ui.item.value, value : ui.item.value};
                self.$emit('select-change', param);
            }
        });
  },
  beforeDestroy: function() {
      $(this.$el).selectmenu( "destroy" );
  },  
  data() {
    return {
        content : this.value
    };
  },
  methods : { 
        close : function() {
            $(this.$el).selectmenu("close");
            console.log('close method called.');
        },
        disable : function() {
            $(this.$el).selectmenu("disable");
        },
        enable : function() {
            $(this.$el).selectmenu("enable");
        },
        addClass : function(cls) {
            $(this.$el).addClass(cls);
        }
  }// methods:
};
</script>
