<template>
   <div>
     <h2>Board Main</h2>
        <b-button>Button</b-button>
        <b-button variant="danger">Button22222222</b-button>
        <b-button variant="success">Button</b-button>
        <b-button variant="outline-primary">Button</b-button>
      <b-list-group>
        <b-list-group-item>
           <div>
             <h2>Cras justo odio</h2>
             <h1>Top</h1>
             <img :src="imgPath">
           </div>
        </b-list-group-item>
        <b-list-group-item>Dapibus ac facilisis in</b-list-group-item>
        <b-list-group-item>Morbi leo risus</b-list-group-item>
        <b-list-group-item>Porta ac consectetur ac</b-list-group-item>
        <b-list-group-item>Vestibulum at eros</b-list-group-item>
      </b-list-group>
   </div>
</template>

<script>

export default {
  components : {
  },
  created() { 
    //console.log(this.$data.appContext);
    //console.log(this.appContext);
    this.imgPath =  "/resources/images/goodwitch.png";
  },
  data() {
    return {
      imgPath : ""
    };
  },
};
</script>
<style>
</style>