<script>
export default {
  components : {
  },
  created() { 
  },
  props : {
      fluid : { 
          type : Boolean, 
          default : function(value) {
              if(value == null || value == "") {
                  return false;
              }else {
                  return value;
              }
          }
      }
  },
  data() {
    return {
        selectMode : "single",
        tableFields : [
            {
                key: 'empId',
                label :'사원번호'
            },
            {
                key : 'empName',
                label :'사원명'
            },
            {
                key : 'age',
                label :'나이'
            },
            {
                key : 'deptName',
                label : '소속부서'
            }
        ],
        employeeList : [
            {empId: "E20190001", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190002", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190003", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190004", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190005", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190006", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190007", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190008", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190009", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190010", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"},
            {empId: "E20190011", empName :"홍길동", age : 30, deptName:"연구본부/개발팀", position:"사원"}
        ]
    };
  },
  methods : {
      onRowSelected : function(items) {
          console.log(items);
          //this.$emit('eventEmp', empid);
      }
  }    
}
</script>
<template>
    <div :fluid="fluid"> 
        <h2><b-badge variant="primary">사원목록</b-badge></h2>
        <b-table striped hover selectable :select-mode="selectMode" @row-selected="onRowSelected"  :items="employeeList" :fields="tableFields"></b-table>
    </div>
</template>