<i18n>
{
   "en" : {
     "hello" : "Hello world i18n!!!"
   },
   "ja" : { 
     "hello" : "japan"
   }
}
</i18n>
<i18n src="./hr-locale.json"></i18n>

<script>
import HrResume from './HrResume.vue';
import HrList from './HrList.vue';

export default {
  components : {
      'hr-resume': HrResume,
      'hr-list': HrList
  },
  created() { 
  },
  data() {
    return {
      autoValue : "",
      listVisible : true, 
      contentVisible : true,
      middleColWidth :4,
      empId : "홍길동이다가 아니라... 호호호",
      title : this.$i18n.t('hello'),
      fluidValue : true
    };
  },
  methods : {
      onEventEmp : function(empid) { 
          //this.listVisible = false;
          //this.contentVisible = true; 
          this.empId = empid; 
      },
      onEventToList : function() {
        console.log("★onEventToList");
      },
      onClickButton : function() {
        this.contentVisible = true;
      },
      onClickHome : function() {
        document.location.href= "/index.html";
      },
      onClickHideButton : function() {
        //
        //this.contentVisible = false;
        this.middleColWidth = "";
      },
      onClickTestButton : function() {
        console.log("change container");
        this.fluidValue = (this.fluidValue == true)? false: true;
      }
      
  }
}
/*
      <h2>Human Resource Management</h2>
      <div><a @click="onClickHome">Home</a></div>
      <hr>
      <hr-list v-if="listVisible" ref="list" @eventEmp="onEventEmp" ></hr-list>
      <hr-resume v-if="contentVisible" v-bind:prop-emp-id="empId"  @eventToList='onEventToList' ref="content"></hr-resume>
      <input type="button" value="Click Me" @click="onClickButton">
      <span>여기에</span>

      {{ $t('hello') }}
      {{ $t('myName') }}
      {{ $t('hello2', { msg: `${empId}` })  }}
      <br>
      <h2>title</h2>
      {{title}}

*/
</script>

<template> 
  <b-container :fluid="fluidValue">
    <!-- header -->
    <b-row>
      <b-col>The main view of HR</b-col>
    </b-row>
    <!-- header -->
    <b-row>
      <!--left -->
      <b-col lg="2">
        <b-button @click="onClickHideButton">버튼 감추기</b-button>
        <b-button @click="onClickTestButton">테스트용 버튼</b-button>
      </b-col>
      <!-- the end of left -->
      <!-- list -->
      <b-col v-bind:lg="middleColWidth">
        <hr-list  fluid v-if="listVisible" ref="list" @eventEmp="onEventEmp" ></hr-list>
      </b-col>
      <!-- the end of list -->
      <!-- content -->
      <b-col class="d-none">
        <div v-if="contentVisible" class="border-primary bg-secondary">
          <hr-resume v-if="contentVisible" v-bind:prop-emp-id="empId"  @eventToList='onEventToList' ref="content"></hr-resume>
        </div>
      </b-col>
      <!-- the end of content -->
    </b-row>
  </b-container>
</template>