<script>
export default {
  props : {
      propEmpId : {
          type:String
      }
  },
  
  watch :  {
      propEmpId : function(newVal, oldVal) {
          console.log("Prop changed: " + newVal);
          //this.empId = newVal;
      }
  },
  
  components : {
  },
  created() { 
      console.log("HrResume created.");
  },

  data() {
    return {
        empId : this.propEmpId
    };
  },
  methods :  {
      onClickLink : function(){ 
          console.log("eventToList");
          this.$emit("eventToList");
      }
  }
}
</script>
<template> 
  <div>
      <div><a @click="onClickLink">목록으로</a></div>
      <div>{{propEmpId}}</div>

    
    <h3><b-badge variant="primary">기본정보</b-badge></h3>

    <table class="table table-bordered">
        <tr>
            <td>이름</td><td>부서</td>
        </tr>
        <tr>
            <td>홍길동 <img src="/resources/images/goodwitch.png"></td><td>연구개발본부</td>
        </tr>
    </table>
    
    
    <h3><b-badge variant="primary">학력</b-badge></h3>
    <table class="table table-bordered">
        <tr>
            <td>재학기간</td>
            <td>구분</td>
            <td>학교명(소재지)</td>
            <td>전공</td>
        </tr>
        <tr>
            <td>2009.03 ~ 2013.02</td>
            <td>졸업</td>
            <td>강남대학교(서울)</td>
            <td>컴퓨터학과</td>
        </tr>        
    </table>

    <h3><b-badge variant="primary">경력</b-badge></h3>
    <table class="table  table-bordered">
        <tr><td>근무기간</td><td>회사명</td><td>부서/직급/직책</td><td>지역/직종</td> </tr>
        <tr><td>2009.03 ~ 2013.02</td><td>강남컴퍼니</td><td>개발팀/대리/연구원</td><td>서울/SW개발</td></tr>        
        <tr><td>근무기간</td><td>회사명</td><td>부서/직급/직책</td><td>지역/직종</td> </tr>
        <tr><td>2009.03 ~ 2013.02</td><td>강남컴퍼니</td><td>개발팀/대리/연구원</td><td>서울/SW개발</td></tr>        
        <tr><td>근무기간</td><td>회사명</td><td>부서/직급/직책</td><td>지역/직종</td> </tr>
        <tr><td>2009.03 ~ 2013.02</td><td>강남컴퍼니</td><td>개발팀/대리/연구원</td><td>서울/SW개발</td></tr>        
        <tr><td>근무기간</td><td>회사명</td><td>부서/직급/직책</td><td>지역/직종</td> </tr>
        <tr><td>2009.03 ~ 2013.02</td><td>강남컴퍼니</td><td>개발팀/대리/연구원</td><td>서울/SW개발</td></tr>        
    </table>    
    
    <h3><b-badge variant="primary">자격증/어학/수상내역</b-badge></h3>
    <table class="table table-bordered">
        <tr><td>취득일/수상일</td><td>구분</td><td>자격/어학/수상명</td><td>발행처/기관/언어</td><td>합격/점수</td> </tr>
        <tr><td>2016.12</td><td>어학시험</td><td>TOEIC</td><td>영어</td><td>900점</td> </tr>        
        <tr><td>2016.12</td><td>어학시험</td><td>TOEIC</td><td>영어</td><td>900점</td> </tr>                
        <tr><td>2016.12</td><td>어학시험</td><td>TOEIC</td><td>영어</td><td>900점</td> </tr>                
        <tr><td>2016.12</td><td>어학시험</td><td>TOEIC</td><td>영어</td><td>900점</td> </tr>                
        <tr><td>2016.12</td><td>어학시험</td><td>TOEIC</td><td>영어</td><td>900점</td> </tr>                                        
    </table>    

    <h3><b-badge variant="primary">자기소개서</b-badge></h3>
    <div class="border">
        저는 어릴 때부터 컴퓨터에 관심이 많아서.....
    </div>
  
  </div>
</template>