<template>
  <div>
       <b-link @click="onClickMenuChange">게시판</b-link>
       <a @click="onClickMenuChange">게시판</a> |  
       <a @click="onClickMenuChange2">전자결재</a>  |  
       <a @click="onClickMenuChange3">인사</a> 
       <component v-bind:is="currentView"></component>
  </div>
</template>

<script>

import PortalMain from './portal/PortalMain.vue';

export default {
  components : {
    PortalMain ,
    'board-main' :() => import('./board/BoardMain.vue'),
    'eapp-main' : () => import('./eapp/EappMain.vue'),
    'hr-main' : () => import('./hr/HrMain.vue')
  },
  created() { 
  },
  data() {
    return {
      currentView : 'PortalMain'
    };
  },
  
  methods :  {
      onClickMenuChange : function(){
         this.currentView = 'board-main';
      },
      onClickMenuChange2 : function() {
         this.currentView = 'eapp-main';
      },
      onClickMenuChange3 : function() {
         this.currentView = 'hr-main';
      }

  }
  
};
</script>
