<template>
  <div>
     <h2>Portal Main</h2>
     <portal-content></portal-content>
  </div>
</template>

<script>

import PortalContent from './PortalContent.vue';

export default {
  components : {
    PortalContent
  },
  created() { 
  },
  data() {
    return {
    };
  },
};
</script>
