<template>
  <div id="app">
       <h2>{{ message }}</h2>
       <date-picker></date-picker>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       
       <select-menu  ref="select" 
                @select-change="onSelectChange"
                v-model="optionValue"
                v-bind:option-data="optionData"> </select-menu>
       <input type="button" value="Click me" @click="onClick">
       <input type="button" value="Add class" @click="onClick2">
       <tchart></tchart>

  </div>
</template>

<script>

import Vue from 'vue';
import DatePicker from  './framework/components/DatePicker.vue';
import SelectMenu from  './framework/components/SelectMenu.vue';
import Tchart from  './framework/components/Chart.vue';

export default {

  components : {
    DatePicker,
    SelectMenu,
    Tchart
  },
  created() { 
    this.testMethod();
  },
  data() {
    return {
        optionValue : "딸기",
        message: '새로운 세상을 만듭니다.',
        optionData : [
          { name:"사과", value:"1"},
          { name:"딸기", value:"2"}
        ]
    };
  },
  methods : { 
        onClick : function() {
            console.log("this.optionValue=" + this.optionValue);
            ///this.$refs.select.close();
            this.$refs.select.disable();
        },
        onClick2 : function() {
            this.$refs.select.addClass("white")
        },

        onSelectChange : function(item) {
          console.log(item.value);
        }
  }// methods:  
};
</script>
<style>
</style>