<script>
export default {
    mounted() {
         var val = $("#testinput").val();
         console.log("val=" + val); 
    }
}
</script>
<template>
    <div>
        <input type="text" id="testinput" value="입력하세요">
    </div>
</template>